<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PomeloJob.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
				<key>dateExpires</key>
				<string>2020/10/29</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBRetainCycleDetector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FTPopOverMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MLeaksFinder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SSKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1271385F16F1EB703BE0BBBF72B2A7FEE5D4CBD1</string>
						<key>dateExpires</key>
						<string>2020/10/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>YYText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZS7NPDDHHG</string>
						<key>name</key>
						<string>JiaXin Zheng</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZS7NPDDHHG.com.gx.pomelo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZS7NPDDHHG</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ZS7NPDDHHG.com.gx.pomelo</string>
				</array>
			</dict>
			<key>name</key>
			<string>PomeloJob.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a08c7182-47db-49d7-a8f2-f9acd7ad97ab</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.gx.pomelo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZS7NPDDHHG</string>
				<key>name</key>
				<string>JiaXin Zheng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
